
.main-container{
  min-height:768px;
}
.register-form-container{
  width:60%;
}
.register-img{
  background-image: url('@/assets/images/sidepic.jpg');
  background-size: 100% 100%;
}
.register-head{
  padding-left: 15px;
}
.register-head-title{
  /* font-family: 'Reader Trial'; */
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 39px;
color:#343A40;
}
.register-head-subtitle{
  /* font-family: 'Reader Trial'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #6C757D;
}
.button-color{
background-color: #FA6731 !important;
border-radius: 4px !important;
color:white !important;
transition: 0.8s !important;
}
.button-color:hover{
  background-color: #862112 !important;
}

.password-field{
  position:relative;
}
.icon{
  /* background-color: #FA6731; */
  /* max-width: 20px; */
  height:100%;
  width:15%;
  position:absolute;
  /* background-image: url('@/assets/images/eyeicon.svg'); */
  /* background-size: 30% 30%; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-position: center; */
  display:flex;
  justify-content:center;
  align-items: center;
  right:0;
}
 /*login part  */
@font-face{
  font-family: "Reader Trial-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/ReaderTrial-Regular") format("opentype");
}

@font-face{
  font-family: "Reader Trial-Bold";
  font-style: normal;
  font-weight: 900;
  src: url("https://fonts.animaapp.com/ReaderTrial-Bold") format("opentype");
}

@font-face{
  font-family: "Reader Trial-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.animaapp.com/ReaderTrial-Medium") format("opentype");
}

.login-img{
  background-image: url('./assets/images/sidepic.png');
  background-size: 100% 100%;
}
.login-head{
  padding-left: 15px;
}
.login-head-title{
font-family: 'Reader Trial-Bold';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 39px;
}
.login-head-subtitle{
  font-family: 'Reader Trial-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #6C757D;
}
